name: Check

on: [push]

jobs:
  svlint:
    name: Check Verilog Style Conventions using svlint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Create Build Directory
      run: mkdir build
    - name: Install iverilog and dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
            iverilog \
            moreutils
    - name: Check iverilog installed
      run: iverilog -V
    - name: Download svlint
      run: wget -O build/svlint.zip https://github.com/dalance/svlint/releases/download/v0.9.0/svlint-v0.9.0-x86_64-lnx.zip
    - name: Install svlint
      run: |
        unzip build/svlint.zip -d build
        echo "${PWD}/build/bin" >> $GITHUB_PATH
    - name: Check svlint installed
      run: svlint --version
    - name: Lint files
      run: make lint
    - name: Cleanup
      run: rm -r build
  black:
    name: Check Python Style Conventions using black
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Run Black
      uses: psf/black@stable
      with:
        options: "--check --verbose"
        src: "./src"
    