name: Test

on: [push]

jobs:
  pytest:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        pytest-flags: ["", "-m \"not slow\"", "--test-verilog=rand"]
    name: pytest ${{ matrix.pytest-flags }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create Build Directory
        run: mkdir build
      - name: Install verilator
        run: sudo apt-get install -y verilator
      - name: Check python version
        run: python --version
      - name: Test with pytest
        run: |
          make test EXTRA_ARGS='-n auto --tb=short -v --suppress-no-test-exit-code ${{ matrix.pytest-flags }}'
    